<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>OATH HOTP Demo</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body>
    <div class="main">
    <div class="header">
    <h1><img src="/images/Lock.png" width="64" height="64" /> <a href="http://www.openauthentication.org/">OATH</a> <a href="http://www.ietf.org/rfc/rfc4226.txt">HOTP</a> Demo</h1>
      <ul><li><a href="/create"><img src="/images/Add.png" width="32" height="32" />Create</a></li>
        <li><a href="/list"><img src="/images/lists.png" width="32" height="32" /> List</a></li>
        <li><a href="/verify"><img src="/images/Check.png" width="32" height="32" /> Verify</a></li></ul>
    </div>
    <div class="content">
      <p><a href="http://xkcd.com/538/"><img src="http://imgs.xkcd.com/comics/security.png" title="Actual actual reality: nobody cares about his secrets.  (Also, I would be hard-pressed to find that wrench for $5.)" alt="Security" /></a><br />
      <a href="http://xkcd.com/538/" title="XKCD">XKCD: Security</a>.</p>
      <p>Inspired on <a href="http://github.com/ghoff/oathotp">FreeOTP</a>.
      Uses code form <a href="https://github.com/bdauvergne/python-oath/">python-oath</a> and
      icons from <a href="http://www.everaldo.com/">Everaldo</a>.</p>
    </div>
    <div class="footer">
      <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a></p>
    </div>
    </div>
  </body>
</html>
